header{text-align: center;color: #92400e;}
footer{text-align: center;}
body{font-family: cursive;background-color: #fff7ed;}
footer{color: white;}
h2{color: #92400e;}
a:hover{background-color: brown;color: white ;}
h1{background-color: #fde68a;}
.link{background-color: #fed7aa;}
.back{background-color: white;}
#foot{background-color: #78350f;}
img{align-items: center;}
a{color: #92400e;text-decoration: none;}
.hov:hover{color: yellow;background-color: #78350f;}
.Picture{text-align: center;}
